---
import Hero3 from '../components/widgets/Hero3.astro';
import HeroText from '../components/widgets/HeroText.astro';
import Features from '../components/widgets/Features.astro';
import Steps from '../components/widgets/Steps.astro';
import Steps2 from '../components/widgets/Steps2.astro';
import Layout from '../layouts/PageLayout.astro';

const metadata = {
  title: 'Sheetak - Company',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero3
    image={{
      src: '~/assets/images/360-bridge.jpg',
      alt: 'Austin',
    }}
  >
    <Fragment slot="title"> SHEETAK </Fragment>

    <Fragment slot="subtitle"> Taking Cooling, Heating, and Energy Harvesting to the Next Level. </Fragment>
  </Hero3>

  <!-- Content Widget ************** -->

  <HeroText title="Our Vision">
    <Fragment slot="content">
      <p>
        At Sheetak, we believe in creating cutting-edge cooling and heating technology that is cost-efficient,
        environmentally friendly, and of course, highly effective. We leverage over a century of expertise and an
        extensive portfolio to develop pioneering cooling, heating and energy harvesting solutions.
      </p>
      <br />
      <p>We strive for this level of impact in every product we develop.</p>
    </Fragment>
  </HeroText>

  <!-- Steps Widget ****************** -->

  <Steps2
    title="Our journey so far"
    isReversed={false}
    items={[
      {
        title: '2007',
        description: 'Incorporated Sheetak Inc.',
        icon: 'tabler:square-number-1',
      },
      {
        title: '2014',
        description: 'Received patent for thin-film design',
        icon: 'tabler:square-number-2',
      },
      {
        title: '2020',
        description: 'Received patent for C3 design for multi-stage',
        icon: 'tabler:square-number-3',
      },
      {
        title: '2023',
        description: 'Launched CENTUM®️',
        icon: 'tabler:square-number-4',
      },
      {
        title: '2024',
        description: 'Launched QOOLCHIP™️',
        icon: 'tabler:square-number-5',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Steps2>

  <!-- Steps2 Widget ****************** -->

  <Steps
    title="Our Leadership"
    isReversed={false}
    items={[
      {
        title: 'Uttam Ghoshal',
        subtitle: 'Founder, President & CTO',
        description:
          'Uttam Ghoshal is an entrepreneur pioneering the commercialization of electronic refrigeration. He was a Master Inventor at IBM Research, the Founder of Nanocoolers Inc., VP at Cypress Semiconductor/Sunpower, and an Adjunct Professor at UT Austin. He has managed $30M+ US DOE & DOD funded programs, holds 150+ patents, and received his Ph.D. (EE) from UC Berkeley.',
      },
      {
        title: 'Tejas Vakil',
        subtitle: 'CEO',
        description:
          'Technology Executive with 40+ years of experience in General Management, Business Development, Sales and Marketing at global companies such as Dell Inc., Compaq (now HP), Bertelsmann (arvato). Serial Entrepreneur with six technology startups, early-stage companies with successful exits; SAAS FinTech, Blockchain, RFID. Global Experience – EMEA Vice President, Dell; managed teams in Europe, Middle East, Asia, and Latin America. Investor and Advisory/Board member for various real estate, energy, technology, venture capital and private equity investment firms.',
      },
      {
        title: 'Chris Munson',
        subtitle: 'CFO',
        description:
          'Chris Munson has been CEO or CFO of numerous companies, from startups to businesses doing $50 million in revenue. He started his first company at age 21 after graduating from the University of Texas. Chris was named Austin Young Entrepreneur of the year in 1989.',
      },
      {
        title: 'Key Kolle',
        subtitle: 'Director of Operations',
        description:
          'Key Kolle has 25+ years of experience in silicon process technologies at Cirrus Logic, Silicon Labs, and Vitesse Semiconductor.',
      },
      {
        title: 'Mike Koelzer',
        subtitle: 'Director of Manufacturing',
        description:
          'Mike has 30+ years of experience in subcontract manufacturing bringing products from prototype to high volume. His experience covers a wide range of products from commercial/Industrial to Military and space level.',
      },
    ]}
  />

  <Features
    title="Our manufacturing center"
    items={[
      {
        title: 'High-volume line',
        icon: 'tabler:chart-bar',
      },
      {
        title: 'Advanced machinery',
        icon: 'tabler:brand-apple-arcade',
      },
      {
        title: 'Skilled manpower',
        icon: 'tabler:jacket',
      },
      {
        title: 'Made-in-USA',
        
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features>
</Layout>
