---
import Layout from '../../layouts/PageLayout.astro';

import Hero3 from '../../components/widgets/Hero3.astro';
import Features from '../../components/widgets/Features.astro';
import Content from '../../components/widgets/Content.astro';

const metadata = {
  title: 'Sheetak — Medical Refrigerators & Freezers',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero3 Widget ******************* -->

  <Hero3 image={{ src: '~/assets/images/EON_Harvester_header-2.jpg', alt: 'EON Harverster' }}>
    <Fragment slot="title"> Medical Refrigerators & Freezers </Fragment>
  </Hero3>

  <!-- Content Widget **************** -->

  <Content id="content" isReversed>
    <Fragment slot="content">
      <p>
        Medical refrigerators & freezers are used for various applications such as vaccine/medicine storage,
        blood/plasma storage, cryogenic storage. The devices need precise temperature control to avoid degradation along
        with smaller form factor to create more storage space. The required temperatures varies basis the stored product
        from -30 to 40°C.
      </p>
      <br />
      <p>
        Sheetak’s proprietary technology with extreme reliability, smaller form factor and best-in-class temperature
        differential is a perfect fit for multiple variants of refrigerators & freezers (countertop and undercounter
        storage, enzyme refrigerators, blood and plasma storage)
      </p>
    </Fragment>
  </Content>

  <Features
    id="benefits"
    title="Benefits"
    columns={2}
    items={[
      {
        title: 'High temperature differential',
        description:
          'With Sheetak’s patented design of replacing intermediate ceramic layer with metallic links between TE legs, chips can achieve 10% higher temperature differential',
        icon: 'tabler:hourglass',
      },
      {
        title: 'Smaller form factor',
        description:
          'Sheetak’s patented densely packed chips can offer same cooling power at xx times smaller form factor vs industry average*',
        icon: 'tabler:chart-arrows-vertical',
      },
      {
        title: 'Unmatchable reliability, upto 5x longer chip life',
        description:
          'With Sheetak’s revolutionary Fault Tolerant Network and compliant layer design, chip life increases 5x upto 20 years',
        icon: 'tabler:hourglass',
      },
      {
        title: 'High quality scale manufacturing',
        description:
          'Our automated scale manufacturing line with thorough quality control ensures consistent high-quality production',
        icon: 'tabler:building-factory-2',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features>
</Layout>
