---
import Layout from '../../layouts/PageLayout.astro';

import Hero3 from '../../components/widgets/Hero3.astro';
import Features2 from '../../components/widgets/Features2.astro';
import Content from '../../components/widgets/Content.astro';
import Stats from '../../components/widgets/Stats.astro';

const metadata = {
  title: 'Sheetak — EON',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero3 Widget ******************* -->

  <Hero3 image={{ src: '~/assets/images/EON_Harvester_header-2.jpg', alt: 'EON Harverster' }}>
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight"> EON™️ </span>
      Energy Harvesters
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Battery-Free Power for IoT - Harness Temperature for Power Everywhere
        <span class="font-semibold"> </span>
      </span>
    </Fragment>
  </Hero3>

  <!-- Content Widget **************** -->

  <Content
    id="content"
    isReversed
    title="EON™️ Energy Harvesting Solution"
    image={{
      src: '~/assets/images/924-FIT-Harvester.png',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <p>
        Sheetak’s EON™️ Energy Harvesting products are among the  most integrated and efficient solid-state energy harvesting solutions available on the market. The EON™️ has an unprecedented integration junctions which allows for output voltages 10x to 100x higher than traditional thermoelectric devices.
      </p><br />
      <p>
        EON™️ can harness energy even from small temperature differences and deliver the right amount of voltage and power without the need for frequent replacements.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Expected values"
    stats={[
      { title: 'Efficiency', amount: '1.5ZT' },
      { title: 'Thickness', amount: '0.5mm' },
      { title: 'couples/cm²', amount: '>1000' },
    ]}
  />

  <Features2
    id="applications"
    title="Applications"
    columns={2}
    items={[
      {
        title: 'Consumer IoT',
        description: 'Make wearable devices self-sufficient',
      },
      {
        title: 'Building IoT',
        description: 'Continuous power to remote monitoring sensors',
      },
      {
        title: 'AgriTech IoT',
        description: 'Low-cost energy solution for smart AgriTech solutions',
      },
      {
        title: 'Heat Recovery System',
        description: 'Energy generation from waste heat',
      },
      {
        title: 'Industrial IoT',
        description: 'Continuous power to remote monitoring sensors',
      },
    ]}
  />

  
</Layout>
