---
import Layout from '../../layouts/PageLayout.astro';

import Hero3 from '../../components/widgets/Hero3.astro';
import Features2 from '../../components/widgets/Features2.astro';
import Content from '../../components/widgets/Content.astro';
import Stats from '../../components/widgets/Stats.astro';

const metadata = {
  title: 'Sheetak — Advanced Thermolectrics',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero3 Widget ******************* -->

  <Hero3 image={{ src: '~/assets/images/EON_Harvester_header-2.jpg', alt: 'EON Harverster' }}>
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight"> QOOLCHIP™️</span>
      ADVANCED SOLID-STATE COOLERS
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Microcoolers, Macro Performance
        <span class="font-semibold"> </span>
      </span>
    </Fragment>
  </Hero3>

  <!-- Content Widget **************** -->

  <Content
    id="content"
    isReversed
    title="QOOLCHIP™️"
    image={{
      src: '~/assets/images/924-FIT-Harvester.png',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <p>
        Sheetak's QOOLCHIP™️ product line offers microcoolers with unrivaled high efficiency, cooling performance with
        couple densities higher than 1000 couples/cm2 and device as thin as 0.5mm.
      </p><br />
      <p>
        These devices are hermetically sealed and designed for precision temperature control applications including
        optoelectronics components in Telecom, Datacom, and LiDAR applications.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Expected values"
    stats={[
      { title: 'Efficiency', amount: '1.5ZT' },
      { title: 'Thickness', amount: '0.5mm' },
      { title: 'couples/cm²', amount: '>1000' },
    ]}
  />

  <Features2
    id="applications"
    title="Applications"
    columns={2}
    items={[
      {
        title: 'Household refrigerators',
        description: 'Better cooling while saving energy',
      },
      {
        title: 'Optoelectronics',
        description: 'Higher cooling power with smaller size',
      },
      {
        title: 'Data center cooling',
        description: 'Unbeatable reliability',
      },
      {
        title: 'Aerospace & Defense',
        description: 'Precise temperature control with wide range',
      },
    ]}
  />

  
</Layout>
